<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Mixed-Trust Scheduling Analysis OSATE Plugin
 *
 * Copyright 2021 Carnegie Mellon University.
 *
 * NO WARRANTY. THIS CARNEGIE MELLON UNIVERSITY AND SOFTWARE ENGINEERING
 * INSTITUTE MATERIAL IS FURNISHED ON AN "AS-IS" BASIS. CARNEGIE MELLON
 * UNIVERSITY MAKES NO WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED,
 * AS TO ANY MATTER INCLUDING, BUT NOT LIMITED TO, WARRANTY OF FITNESS FOR
 * PURPOSE OR MERCHANTABILITY, EXCLUSIVITY, OR RESULTS OBTAINED FROM USE OF
 * THE MATERIAL. CARNEGIE MELLON UNIVERSITY DOES NOT MAKE ANY WARRANTY OF
 * ANY KIND WITH RESPECT TO FREEDOM FROM PATENT, TRADEMARK, OR COPYRIGHT
 * INFRINGEMENT.
 *
 * Released under the Eclipse Public License - v 2.0 license, please see
 * license.txt or contact permission@sei.cmu.edu for full terms.
 *
 * [DISTRIBUTION STATEMENT A] This material has been approved for public
 * release and unlimited distribution.  Please see Copyright notice for
 * non-US Government use and distribution.
 *
 * Carnegie Mellon® is registered in the U.S. Patent and Trademark Office
 * by Carnegie Mellon University.
 *
 * DM21-0927
-->
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="MixedTrustSchedulingAnalysisMarker"
         name="Mixed Trust Scheduling Analysis Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.osate.analysis.category"
            name="%actionSet.label">
      </category>
      <command
            categoryId="org.osate.analysis.category"
            id="org.osate.analysis.mixedtrust.analysis.ui.MixedTrustSchedulingAnalysis"
            name="%commandName.label">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.osate.analysis.mixedtrust.analysis.ui.handlers.MixedTrustSchedulingHandler"
            commandId="org.osate.analysis.mixedtrust.analysis.ui.MixedTrustSchedulingAnalysis">
         <enabledWhen>
            <reference definitionId="org.osate.ui.definition.instanceAnalysisCommandEnabled" />
         </enabledWhen>
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.osate.ui.timingMenu?after=core">
         <command
               commandId="org.osate.analysis.mixedtrust.analysis.ui.MixedTrustSchedulingAnalysis">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.osate.ui.timingNavigatorPopup?after=core">
         <command
               commandId="org.osate.analysis.mixedtrust.analysis.ui.MixedTrustSchedulingAnalysis">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.help.toc"
         id="toc_busload"
         name="Mixed Trust Scheduling Help Table of Contents">
      <toc
            file="help/toc_mixedtrust.xml"
            primary="true">
      </toc>
   </extension>
</plugin>
